.main-banner__form
  float left
  width 25%
  background darkGreyColor
  border-radius 5px
  padding 16px 20px
  input[type="submit"]
    border none
  input[type="text"]
    width 100%
    max-width 290px
    margin-bottom 10px
    padding-left 10px
    border-radius 2px
    line-height 30px
    height 30px
    font-size 0.8rem
    border none
  textarea
    width 100%
    font-size 1.2rem
    border-radius 2px
    max-width 280px
    margin-bottom 10px
    padding 5px 10px
    height 80px
    border none
    resize none