$s-arrow-left = 0px 0px 0px 0px 48px 48px 174px 146px 'sprite.png';
$s-arrow-right = 63px 0px -63px 0px 48px 48px 174px 146px 'sprite.png';
$s-clock = 126px 63px -126px -63px 30px 32px 174px 146px 'sprite.png';
$s-contract = 0px 63px 0px -63px 48px 48px 174px 146px 'sprite.png';
$s-expirience = 63px 63px -63px -63px 48px 48px 174px 146px 'sprite.png';
$s-icon-search = 0px 126px 0px -126px 20px 20px 174px 146px 'sprite.png';
$s-personal = 126px 0px -126px 0px 48px 48px 174px 146px 'sprite.png';
