
redColor = #bb0808
greyColor = #ccc
greyTextColor = #a5a5a5

mainFont = "RobotoRegular", sans-serif, Arial
bebasBold = "BebasBold", sans-serif, Arial
BebasRegular = "BebasRegular", sans-serif, Arial