extends ../layout/main

block title
    | Главная страница

append styles
    link(rel="stylesheet" type='text/css' href='style/index.css')
    link(rel="stylesheet" type='text/css' href='vendor/slick.css')
    link(rel="stylesheet" type='text/css' href='vendor/slick-theme.css')
append scripts
    script(type='text/javascript' src='/vendor/slick.min.js')
    script(type='text/javascript' src='/js/index.js')
block content
    section.horizontal-items-in-board.horizontal-items-in-board--top-advantages
        .horizontal-items-in-board__item.horizontal-items-in-board__item--top-advantages.horizontal-items-in-board__item--top-advantages--experience
            span Высокое качество
        .horizontal-items-in-board__item.horizontal-items-in-board__item--top-advantages.horizontal-items-in-board__item--top-advantages--personal
            span Индивидуальный подход
        .horizontal-items-in-board__item.horizontal-items-in-board__item--top-advantages.horizontal-items-in-board__item--top-advantages--guarantee
            span Гарантия на услуги
        .horizontal-items-in-board__item.horizontal-items-in-board__item--top-advantages.horizontal-items-in-board__item--top-advantages--term
            span Точно в срок
    include ../includes/navigation.pug
    section.main-banner
        .main-banner__form
            span.base-title Задайте вопрос
            form.feed-back-form
                input(type="text" name="name" placeholder="Ваше имя")
                input(type="text" name="phone-number" placeholder="Ваш телефон")
                textarea(name="message" placeholder="Ваше сообщение")
                input(type="submit" value="Отправить").submit-button
        .main-banner-slider
            .main-banner-slider__prev
            .main-banner-slider__next
            .js-main-slider
                .js-main-slider__one-slide
                    .js-main-slider__text
                        span.js-main-slider__title Проверенные решения
                        p.text-white
                            | Проектные решения разработаны профессионалами,
                            | проверены временем и высоко оценены нашими клиентами.
                        a(href="javascript:void(0);").g-btn Узнать подробности
                    img(src="./img/slider/slide1.jpg" alt="Слайдер")
                .js-main-slider__one-slide
                    .js-main-slider__text
                        span.js-main-slider__title Хорошие цены
                        p.text-white
                            | Рациональная оценка работы, высокое качество,
                            | наши цены Вас приятно удивят.
                        a(href="javascript:void(0);").g-btn Узнать подробности
                    img(src="./img/slider/slide2.jpg" alt="Слайдер")
    main.main-index
      .left-column
        aside.job-activities
          span.job-activities__title.base-title Услуги
          ul.job-activities-catalog
            li.job-activities-catalog__item
              a(href="javascript:void(0);").job-activities-catalog__link Отделка стен
            li.job-activities-catalog__item.job-activities-catalog__item--with-children
              a(href="javascript:void(0);").job-activities-catalog__link Натяжные потолки
              ul.job-activities-catalog__submenu
                li.job-activities-catalog__link
                  a(href="javascript:void(0);") Матовые
                li.job-activities-catalog__link
                  a(href="javascript:void(0);") Глянцевые
            li.job-activities-catalog__item
              a(href="javascript:void(0);").job-activities-catalog__link Подвесные потолки
            li.job-activities-catalog__item
              a(href="javascript:void(0);").job-activities-catalog__link Устройство полов
            li.job-activities-catalog__item.job-activities-catalog__item--with-children.job-activities-catalog__item--with-children
              a(href="javascript:void(0);").job-activities-catalog__link Электромонтажные работы
              ul.job-activities-catalog__submenu
                li.job-activities-catalog__link
                  a(href="javascript:void(0);") Электропроводка
                li.job-activities-catalog__link
                  a(href="javascript:void(0);") Освещение
            li.job-activities-catalog__item
              a(href="javascript:void(0);").job-activities-catalog__link Сантехнические работы
            li.job-activities-catalog__item
              a(href="javascript:void(0);").job-activities-catalog__link Фасадные работы

        section.news-preview
          span.news-preview__title.base-title Статьи
          ul.news-preview-list
            li.news-preview-list__item
              span.news-preview-list__item-title Почему ремонт квартир «под ключ» выгоднее ремонта по частям?
              .news-preview-list__item-text
                p Многие клиенты, даже заказывая ремонт однокомнатной квартиры, хотят сэкономить и...
              a.news-preview-list__item-link(href="#") Подробнее...
            li.news-preview-list__item
              span.news-preview-list__item-title Почему ремонт квартир «под ключ» выгоднее ремонта по частям?
              .news-preview-list__item-text
                p Деревянный дом – это не просто загородное жилье, это уникальный уютный мир с оздоравливающим...
              a.news-preview-list__item-link(href="#") Подробнее...
            li.news-preview-list__item
              span.news-preview-list__item-title Из чего лучше всего построить деревянный дом?
              .news-preview-list__item-text
                p Деревянный дом – это не просто загородное жилье, это уникальный уютный мир с оздоравливающим...
              a.news-preview-list__item-link(href="#") Подробнее...
          a.g-btn(href="#") Все статьи

      .right-column
        .horizontal-items-in-board.horizontal-items-in-board--job-types
            .horizontal-items-in-board__item.horizontal-items-in-board__item--job-types.horizontal-items-in-board__item--job-types--flour
                span Укладка пола
            .horizontal-items-in-board__item.horizontal-items-in-board__item--job-types.horizontal-items-in-board__item--job-types--design
                span Проектирование
            .horizontal-items-in-board__item.horizontal-items-in-board__item--job-types.horizontal-items-in-board__item--job-types--ceiling
                span Натяжные потолки
            .horizontal-items-in-board__item.horizontal-items-in-board__item--job-types.horizontal-items-in-board__item--job-types--tile
                span Плиточные работы
        
        section.base-article.about-company
          h3.article_title.about-company__title О компании
          .article_content.about-company__content
            p 
              b| ООО «РемонтПро»
               | образовалась в 2016 году за счет слияния двух компаний, каждая из которых имела серьезный опыт в сфере строительства и ремонта.
            p Создание юридического лица обусловлено несколькими важными факторами:
            ul
              li Опыт и квалификация специалистов, ответственное отношение к работе позволило компании выйти на новый серьезный уровень;
              li Выполняем крупные заказы, в том числе и в государственном секторе, в соответствии с новым статусом компании;
              li Наша команда, техническая и технологическая база позволяет сдавать большие объемы в минимальные сроки;
              li Мы несем ответственность и берем на себя гарантийные обязательства за качество выполненных работ.

        section.base-article.small-gallery
          h3.article_title.small-gallery__title Наши проекты

          .small-gallery__current-slide

            .small-gallery__current-slide-item
              img(src="./img/gallery/kitchen.jpg" atl="Галерея").small-gallery__item-image
              .small-gallery__image-description
                span.small-gallery__item-title Потолок на кухне 15 м.кв.
                span.small-gallery__item-price 44 500 руб
                span.small-gallery__item-description Полотно полупрозрачное, Германия
            .small-gallery__current-slide-item
              img(src="./img/gallery/prhzh.jpg" atl="Галерея").small-gallery__item-image
              .small-gallery__image-description
                span.small-gallery__item-title Потолок в прихожей 9 м.кв.
                span.small-gallery__item-price 25 500 руб
                span.small-gallery__item-description Потолок в прихожей 9 м.кв.
            .small-gallery__current-slide-item
              img(src="./img/gallery/spln.jpg" atl="Галерея").small-gallery__item-image
              .small-gallery__image-description
                span.small-gallery__item-title Потолок в в спальне 15 м.кв.
                span.small-gallery__item-price 58 500 руб
                span.small-gallery__item-description Потолок в в спальне 15 м.кв.
            .small-gallery__current-slide-item
              img(src="./img/gallery/with-light.jpg" atl="Галерея").small-gallery__item-image
              .small-gallery__image-description
                span.small-gallery__item-title Потолок с подсветкой.
                span.small-gallery__item-price 37 500 руб
                span.small-gallery__item-description Потолок двухуровневый с подсветкой, натяжной.

          .small-gallery__slider_block
            .small-gallery__slide__prev
            .small-gallery__slide__next
            .small-gallery__slider
              .small-gallery__slide
                img(src="./img/gallery/kitchen.jpg" atl="Галерея").small-gallery__item-image
              .small-gallery__slide
                img(src="./img/gallery/prhzh.jpg" atl="Галерея").small-gallery__item-image
              .small-gallery__slide
                img(src="./img/gallery/spln.jpg" atl="Галерея").small-gallery__item-image
              .small-gallery__slide
                img(src="./img/gallery/with-light.jpg" atl="Галерея").small-gallery__item-image

      section.our-advantages-of-work
        h3.article_title.align-center Преимущества сотрудничества с нами
        ul.block-images-list
          li.block-images-list__list-item.animate-from-left
              span.block-images-list__item-title.free-markup Бесплатный выезд замерщика!
              span.block-images-list__item-text
                | Закажите выезд замерщика на любое удобное
                | для вас время. Специалист приедет на объект
                | с образцами полотен, произведет замеры,
                | поможет в выборе дизайна натяжного потолка.
          li.block-images-list__list-item.animate-from-top
              span.block-images-list__item-title.sertificate Сертификаты на тканевые полотна
              span.block-images-list__item-text
                | Мы реализуем тканевые натяжные полотна
                | известных брендов Clipso, Descor, пленку
                | ПВХ производителей Pongs, MSD, Polyplast.
                | Подлинность и качество материалов подтверждены сертификатами.
          li.block-images-list__list-item.animate-from-right
              span.block-images-list__item-title.good-price Доступные цены на монтаж потолков
              span.block-images-list__item-text
                | За счет прямых поставок материалов от производителей
                | стоимость натяжных потолков приятно радует заказчиков.
                | Мы разработаем для каждого проект в рамках выделенного бюджета.
          li.block-images-list__list-item.animate-from-left
              span.block-images-list__item-title.express-work Экспресс-метод выполнения заказов
              span.block-images-list__item-text
                | Если вам нужно срочно осуществить ремонт,
                | мы вам в этом поможем!
                | Уже через 2 дня после оформления заказа
                | вы станете обладателем нового натяжного потолка.
          li.block-images-list__list-item.animate-from-bottom
              span.block-images-list__item-title.fast-work Быстрый монтаж
              span.block-images-list__item-text
                | Монтаж занимает 3-4 часа.
                | Мы специализируемся на установке
                | тканевых натяжных потолков. Работаем с
                | багетом-прищепкой по технологии, соответствующей европейским стандартам.
          li.block-images-list__list-item.animate-from-right
              span.block-images-list__item-title.garanty Гарантия более 12 лет
              span.block-images-list__item-text
                | Заказать натяжные потолки у нас — это обеспечить
                | безупречный вид вашему помещению на долгие годы.
                | Гарантия на натяжные полотна действует в течение 12 лет,
                | а служит материал в 4 раза дольше!
        section.get-callback-call.article_title.align-center Не нашли нужной
          span.get-callback-call__black &nbsp; информации&nbsp;
          | ?&nbsp;Закажите обратный звонок
          a(href="javascript:void(0);").g-btn.get-callback-call__button Консультация