extends ../layout/main

block title
    | Главная страница

append styles
    link(rel="stylesheet" type='text/css' href='style/index.css')
        
block content
    section.top-advantages
        .top-advantages__item.top-advantages__item--experience
            span Опыт на рынке
        .top-advantages__item.top-advantages__item--personal
            span Индивидуальный подход
        .top-advantages__item.top-advantages__item--guarantee
            span Гарантия на услуги
        .top-advantages__item.top-advantages__item--term
            span Точно в срок
    include ../includes/navigation.pug
    section.main-banner
        .main-banner__form
            span.form-title Задайте вопрос
            form.feed-back-form
                input(type="text" name="name" placeholder="Ваше имя")
                input(type="text" name="phone-number" placeholder="Ваш телефон")
                textarea(name="message" placeholder="Ваше сообщение")
                input(type="submit" value="Отправить").submit-button
        .main-banner__slider
            .active-main-slider