extends ../layout/main

block title
    | Главная страница

append styles
    link(rel="stylesheet" type='text/css' href='style/index.css')
    link(rel="stylesheet" type='text/css' href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
    link(rel="stylesheet" type='text/css' href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css')
append scripts
    script(type='text/javascript' src='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
    script(type='text/javascript' src='/js/index.js')
block content
    section.top-advantages
        .top-advantages__item.top-advantages__item--experience
            span Опыт на рынке
        .top-advantages__item.top-advantages__item--personal
            span Индивидуальный подход
        .top-advantages__item.top-advantages__item--guarantee
            span Гарантия на услуги
        .top-advantages__item.top-advantages__item--term
            span Точно в срок
    include ../includes/navigation.pug
    section.main-banner
        .main-banner__form
            span.form-title Задайте вопрос
            form.feed-back-form
                input(type="text" name="name" placeholder="Ваше имя")
                input(type="text" name="phone-number" placeholder="Ваш телефон")
                textarea(name="message" placeholder="Ваше сообщение")
                input(type="submit" value="Отправить").submit-button
        .main-banner-slider
            .main-banner-slider__prev
            .main-banner-slider__next
            .js-main-slider
                .js-main-slider__one-slide
                    .js-main-slider__text
                        span.js-main-slider__title Проверенные решения
                        p
                            | Проектные решения разработаны профессионалами,
                            | проверены временем и высоко оценены нашими клиентами.
                        a(href="#").g-btn Узнать подробности
                    img(src="./img/slider/slide1.jpg")
                .js-main-slider__one-slide
                    .js-main-slider__text
                        span.js-main-slider__title Хорошие цены
                        p.text-white
                            | Проектные решения разработаны профессионалами,
                            | проверены временем и высоко оценены нашими клиентами.
                        a(href="#").g-btn Узнать подробности
                    img(src="./img/slider/slide1.jpg")
