extends ../layout/main

block title
    | Главная страница

append styles
    link(rel="stylesheet" type='text/css' href='style/index.css')
    link(rel="stylesheet" type='text/css' href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
    link(rel="stylesheet" type='text/css' href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css')
append scripts
    script(type='text/javascript' src='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
    script(type='text/javascript' src='/js/index.js')
block content
    section.top-advantages
        .top-advantages__item.top-advantages__item--experience
            span Опыт на рынке
        .top-advantages__item.top-advantages__item--personal
            span Индивидуальный подход
        .top-advantages__item.top-advantages__item--guarantee
            span Гарантия на услуги
        .top-advantages__item.top-advantages__item--term
            span Точно в срок
    include ../includes/navigation.pug
    section.main-banner
        .main-banner__form
            span.form-title Задайте вопрос
            form.feed-back-form
                input(type="text" name="name" placeholder="Ваше имя")
                input(type="text" name="phone-number" placeholder="Ваш телефон")
                textarea(name="message" placeholder="Ваше сообщение")
                input(type="submit" value="Отправить").submit-button
        .main-banner-slider
            //.main-banner-slider__prev
            //.main-banner-slider__next
            .js-main-slider
                div.js-main-slider__one-slide
                    h3 One
                    img(height="305px" width="100%" src="./img/slider/slide1.jpg")
                div.js-main-slider__one-slide
                    h3 Two
                    img(height="305px" width="100%" src="./img/slider/slide1.jpg")
