header 
  .header
    .header-logo.logo
      a(href="/")
        span.logo__black stroy-
        span.logo__red rem.ru
    .header-search
      input(type="text" placeholder="Поиск")
      span.header-search__icon
    .header-contacts
        .header-contacts__top
            a(href="tel:+74951231239").header__phone
                span.header__phone--regular +7 495
                span.header__phone--bold 123 12 39
            span.g-btn Обратный звонок
        .header-contacts__bottom
            span.header-address Москва, Ленинградский проспект, д.43 офис 500
