nav.main-nav
  ul.main_nav__list
    li.main-nav__list-item.main-nav__list-item--active
      a(href="#") О компании
    li.main-nav__list-item
        a(href="#") Услуги
    li.main-nav__list-item
        a(href="#") Наши проекты
    li.main-nav__list-item
        a(href="#") Калькулятор
    li.main-nav__list-item
        a(href="#") Редактор потолков
    li.main-nav__list-item
        a(href="#") Контакты

