doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE = edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="keywords", content="")
    link(rel="stylesheet" type='text/css' href='style/common.css')
    link(rel="stylesheet" type='text/css' href='style/main.css')

    title 
        block title
  body
    .wrapper
        include includes/header.pug
        block content
    include includes/footer.pug