@import "includes/_varibles"

section
    position relative
    margin-bottom 15px
     
.logo
    font-family bebasBold
    font-size 2.75rem
    line-height 36px
    text-transform uppercase
.logo__red
    color redColor

.g-btn
    font-size .75rem
    display inline-block
    background-color redColor
    color white
    text-align center
    line-height 30px