@import "includes/_varibles"

section
    position relative
    margin-bottom 15px
     
.logo
    font-family bebasBold
    font-size 2.75rem
    line-height 36px
    text-transform uppercase
.logo__red
    color redColor
.text-white
    color white
.g-btn
    font-size .75rem
    display inline-block
    background-color redColor
    color white
    text-align center
    line-height 30px
    border-radius 4px
    padding-left 5px
    padding-right 5px

.form-title
    display block
    font-family bebasBold
    color white
    font-size 1.25rem
    text-align center
    margin-bottom 10px

.submit-button
    color white
    border 1px solid redColor
    background-color redColor
    width 100%
    line-height 30px
    font-family bebasBold
    font-size 1rem
    border-radius 2px