@import "includes/_varibles"
@import "includes/_fonts.css"
@import "includes/_header"
@import "includes/_sprite"
@import "common"

html
    font-height 16px

body
    font-family mainFont
    line-height 1

a
    text-decoration none
    color black
    
.wrapper
    width 100%
    max-width 1200px
    margin 0 auto

li
    list-style none