@import "../main"
@import "../includes/_navigation"
@import "../includes/_feedback_form"

.horizontal-items-in-board
  text-align center
  margin-bottom 20px
  border 2px solid redColor
  padding 25px 0

.horizontal-items-in-board__item
  position relative
  display inline-block
  width 20%
  margin 0 2%
  left 0
  top 0
  &:before
    content ''
    position absolute
    display block
  span
    font-family bebasBold
    font-size 1.1rem

.horizontal-items-in-board__item--top-advantages
  width 20%
  &:before
    content ''
    position absolute
    display block
  span
    font-family bebasBold
    font-size 1.1rem

.horizontal-items-in-board__item--top-advantages--experience
  &:before
    top -15px
    left 10px
    sprite($s-expirience)

.horizontal-items-in-board__item--top-advantages--personal
  &:before
    top -16px
    left -20px
    sprite($s-personal)

.horizontal-items-in-board__item--top-advantages--guarantee
  &:before
    top -14px
    left -6px
    sprite($s-contract)

.horizontal-items-in-board__item--top-advantages--term
  &:before
    top -8px
    left 22px
    sprite($s-clock)

.main-banner
  overflow hidden

.main-banner-slider
  position relative
  float right
  overflow h
  width 70%
  .js-main-slider
    margin 0
    padding 0
    img
      width 100%
      height 280px

.main-banner-slider__prev, .main-banner-slider__next
  position absolute
  display block
  cursor pointer
  top 50%
  margin-top -24px
  z-index 10

.main-banner-slider__prev
  sprite($s-arrow-left)
  left 0

.main-banner-slider__next
  right 0
  sprite($s-arrow-right)

.js-main-slider__one-slide
  padding 0 0.1px

.js-main-slider__text
  background-color rgba(76, 69, 69, 0.54)
  max-height 130px
  padding 10px
  border-radius 4px
  position absolute
  max-width 600px
  width 60%
  top 50%
  margin-left 38px
  p
    display block
    padding 0
    margin 0
    margin-bottom 10px
    line-height 20px

.js-main-slider__title
  display block
  font-family bebasBold
  font-size 2rem
  color redColor

.left-column
  width 28.5%
  display inline-block
.right-column
  width 70%
  float right
  display inline-block
  
  
.horizontal-items-in-board.horizontal-items-in-board--job-types
  width 100%
  margin-bottom 20px

.horizontal-items-in-board__item--job-types
  width 20%
  &:before
    content ''
    position absolute
    display block
  span
    font-family bebasBold
    font-size 1.1rem

.horizontal-items-in-board__item--job-types--flour
  &:before
    top  -20px;
    left -20px
    sprite($s-tile)

.horizontal-items-in-board__item--job-types--design
  &:before
    top -10px
    left -18px
    sprite($s-design)

.horizontal-items-in-board__item--job-types--ceiling
  &:before
    top -18px
    left -36px
    sprite($s-celling)

.horizontal-items-in-board__item--job-types--tile
  &:before
    top -18px
    left -32px
    sprite($s-tile)

.job-activities
  width 100%
  border-radius  4px
  float left
  display block
  max-width 300px
  padding 20px 20px
  margin-bottom 18px
  border 1px solid greyColor

.job-activities__title
  color redColor
  text-align left
  padding-top 10px

.job-activities-catalog
  padding 0
  margin 0
  &> li
      &:last-child
          &>a
            padding-bottom 0
      

.job-activities-catalog__link
  display block
  width 100%
  height 100%
  padding 20px 0

.job-activities-catalog__item--with-children
  &>a
    border-bottom 1px solid greyColor
    &:after
      content ''
      float right
      sprite($s-pointer_point)
  &.active
    &>a
      &:after
        sprite($s-pointer_point_open)
    &>ul.job-activities-catalog__submenu
      display block

.job-activities-catalog__item
  list-style none
  border-top 1px solid greyColor
  background-color white


.job-activities-catalog__submenu
  display none
  &>li
    border-top 1px solid greyColor
    color darkGreyColor
    width 100%
    
.about-company
  width 100%
  float right
  margin-bottom 20px
  
.about-company__title
  border-top-left-radius 5px
  border-top-right-radius 5px
.about-company__content
  min-height 320px
  ul
    padding-left 25px
    li
      list-style square

.news-preview
  width 100%
  border-radius  4px
  float left
  display block
  padding 20px 20px
  margin-bottom 40px
  border 1px solid greyColor

.news-preview__title
  color redColor
  text-align left

.news-preview-list
  margin-bottom 10px
  
.news-preview-list__item
  font-size 0.9rem
  border-bottom 1px solid greyColor
  padding 10px 0

.news-preview-list__item-title
  font-weight bold
  line-height 20px
  display block
  margin-bottom 10px
  
.news-preview-list__item-text
  line-height 20px
  margin-bottom 10px
  
.news-preview-list__item-link
  color redColor
  display block

.small-gallery
  border none
.small-gallery__title
  text-align center
.small-gallery__slider-block
  border 1px solid greyColor
  
.small-gallery__slider
  width 100%
  padding 0 40px
  
  border none
.small-gallery__slide
  img
    height 100px
    width 95%
    border 1px solid greyColor
    padding 5px
    box-shadow 1px 5px 5px 0 greyColor

.small-gallery__current-slide-item
  &:active
    border none
  position relative
  padding 20px
  padding-bottom 20px
  margin 20px
  border 1px solid greyColor
  box-shadow 1px 5px 5px 0 greyColor
  img 
    width 100%
    max-height 280px
    margin-bottom 10px
  
.small-gallery__slide.slick-current
  img 
    border 2px solid redColor
  
.small-gallery__item-title 
  display block
  font-size 0.9rem
  font-weight bold
  line-height 30px
  
.small-gallery__item-description
  display block
  line-height 30px
.small-gallery__item-price
  display block
  position absolute
  float left
  left 80%
  top 325px
  border-radius 50px
  color redColor
  font-weight bold
  border 2px solid redColor
  padding 8px
  
.small-gallery__slide__prev,.small-gallery__slide__next
  position relative
  display block
  cursor pointer
  z-index 12
  top 50%

.small-gallery__slide__prev
  float left
  left 5px
  top 36px
  sprite($s-small-arrow-left)  

.small-gallery__slide__next
  float right
  left -5px
  top 36px
  sprite($s-small-arrow-right)